.w3-bar .w3-button {
  padding: 16px;
}
.active {
  color: #5333e4;
  font-weight: bold;
}

#mySidebar {
  background-color: rgba(43, 8, 170, 0.79);
}
#mySidebar a {
  color: $off-white;
  text-decoration: none;
}
